body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25 , 25 , 25);
    color:white;
    font-family:Arial;
}

.Game{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size:25px;
    font-weight:bold;
}

.move-icon{
    width:40px;
    height:40px;
}

.move-button{
    background-color: transparent;
    border:2px solid white;
    height:100px;
    width:100px;
    border-radius:50%;
    margin:5px;
    cursor:pointer;
}

.Result{
    font-size:20px; 
    font-weight:bold;
}

.RPS-Score{
    margin-top:40px;
}

.reset-button , .review-button{
    padding:8px;
    cursor:pointer;
}
